$color-blue-start: rgba(7, 150, 211, 1);
$color-blue-end: rgba(83, 192, 240, 1);
$color-black: #000000;
$color-white: #ffffff;
$color-light-blue: rgba(160, 220, 246, 1);  
$color-gray: rgba(0, 0, 0, 0.54);  
$color-gray-bordas: rgba(215, 221, 233, 1); 
$color-hover: rgba(247, 249, 253, 1);


$gradient-default: linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
$gradient-red: linear-gradient(90deg, rgba(211, 7, 7, 1) 0%, rgba(240, 83, 83, 1) 100%);